{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  plugins: [
    ['prismjs', {
      'languages': [
        'javascript', 'css', 'html'
      ],
      'plugins': ['line-numbers'],
      'theme': 'okaidia',
      'css': true
    }]
  ]
}